<div class="row">
  <div class="col-md-5">
    <form [formGroup]="this.taskService.form" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="$key" />
      <div class="form-group">
        <label>Task</label>
        <input
          formControlName="Task_Todo"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && formControls.Task_Todo.errors
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="submitted && formControls.Task_Todo.errors"
        >
          This field is required
        </div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <input formControlName="Task_Description" class="form-control" />
      </div>
      <div class="form-group">
        <label>Start</label>
        <input formControlName="Start" class="form-control" />
      </div>
      <div class="form-group">
        <label>Due</label>
        <input
          formControlName="Due"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && formControls.Due.errors }"
        />
        <div
          class="invalid-feedback"
          *ngIf="submitted && formControls.Due.errors"
        >
          This field is required
        </div>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit" />
      </div>
    </form>
    <div class="alert alert-info" *ngIf="showSuccessMessage">
      Submitted successfully!
    </div>
  </div>
  <div class="col-md-7">
    <app-task-list></app-task-list>
  </div>
</div>
